{% extends 'login/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>About Us</h1>
        <br>
        <p> Blood Bank is build to facilitate a person or Blood Bank in the need by blood to save countless lives.

        <br>
        <h2> Our Technical Team </h2>
        <p> <b> Gunam Vardhan </b> <br>
            Student ID: 40130740 <br>
            Program: COEN 6311 <br>
            Meng. Electrical and Computer Engineering <br>
            g_vardha@live.concordia.ca <br>
            SE Background: SAP ABAP on HANA (4 years) <br>
        </p>
        <br>
        <p> <b> Mohammad Abdul Aziz Siddiqui </b> <br>
            Student ID: 40157465 <br>
            Program: COEN 6311 <br>
            Meng. Electrical and Computer Engineering <br>
            mohammadabdulazizs.siddiqui@mail.concordia.ca <br>
            SE background: PLSQL, Oracle EBS <br>
        </p>
    </div>
</div>
{% endblock %}    